<% provide :title, "Edit tecnicals" %>

<% if user_signed_in? %>
  <% content_for :left_info do %>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  <% end %>
<% end %>

<div class="col-md-8 col-md-offset-2 well">
  <table>
    <tr>
      <th width="200px">Họ và tên</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th width="200px">Email</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
</div>

<div class="col-md-8 col-md-offset-2 well">
  <%= render 'form' %>
</div>
