<h1><%= @title %></h1>
<table class="table table-striped">
  <tr>
    <th width="70px">Mã HP</th>
    <th width="74px">Mã lớp</th>
    <th>Tên lớp</th>
    <th width="80px">Kiểu lớp</th>
    <th style="width: 200px;"><div class="col-md-12">Xác nhận lớp</div></th>
  </tr>
  <%= render @courses %>
</table>
